#back-button, #forward-button { display:none!important; }

#TabsToolbar { visibility: collapse !important; }

/*Collapse in default state and add transition*/
#sidebar-box {
	overflow: hidden;
	min-width: 5px;
	max-width: 5px;
	transition: all 0.2s ease;
	border-right: 1px solid #0c0c0d;
	z-index: 2;
}

/*Expand to 260px on hover*/
#sidebar-box:hover,
#sidebar-box #sidebar {
	min-width: 360px !important;
	max-width: 360px !important;
	z-index: 1;
}

